.container {
    display: flex;
    justify-content: center;
    align-items: center;    
}

@media (max-width: 800px) {
    .container {
        display: none;
    }
}

@media (min-width: 801px) and (max-width: 950px) {
    .container {
        display: none;
    }

}
