.container {

}

.greenBg {
    height: 9.375rem;
    max-width: 95%;
    background-color: rgba(207, 245, 182, 0.475);
    padding-left: 1.25rem;
    border-radius: 0.188rem;
    margin-top: 0.625rem;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.circularBg {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    background-color: rgba(125, 189, 47, 0.696);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.625rem;
}

.tickImg {
    position: absolute;
}

.mainMessage {
    font-weight: 600;
    font-size: 0.938rem;
    margin: 0.188rem;
}

.subText {
    font-size: 0.75rem;
    word-spacing: 1px;
    line-height: 1.25rem;
}