.container {
    max-width: 1920px;
    padding-top: 100px;
    padding-bottom: 50px;
    min-height: calc(100vh - 60px);
    color: inherit;
}

.aboutContent {
    width: 100vw;
    padding-left: 100px;
    padding-right: 100px;
}

.aboutHeading {
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
}

.aboutText {
    line-height: 20px;
    font-size: 11px;
}

.foreText {
    font-weight: 700;
}

.bodyText {
    margin-bottom: 20px;
}

.blueText {
    text-decoration: underline;
    color: royalblue;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.centralImage {
    border-radius: 3px;
}

.bulletHeading {
  font-weight: 600;
  font-size: 15px;
}

.bulletText {
    font-size: 12px;
  word-spacing: 1px;
  font-weight: bold;
  line-height: 25px;
  padding-left: 10px;
  margin: 20px 0px;
}
