.container {
    margin: -75px 0px;
}

.heroWrapper {
    position: relative;
    /* background: linear-gradient(to right, black, white) */
    /* background: linear-gradient(
        to right, rgba(0, 0, 0, 0.879), rgba(255, 255, 255, 0)
    ); */
}

.swiperButton { /*the div behind/around the navigation pointers*/
    display: flex;
  position: absolute;
  top: calc(50% + 40px);
  z-index: 10;
  cursor: pointer;
  background: #00000031;
  height: 30px;
  width: 30px;
  border-radius: 2px;
  padding-top: 10px;
  padding-left: 10px;

}

.swiperButtonNext {
    right: -0.1px;
    transform: rotate(180deg);
}

.swiperButtonBack {
    left: 0.1px;

}

.swiperButtonDisabled {

}

.carouselContainer {
    border: 1px solid magenta;
    height: calc(100vh - 100px);
    /* position: relative; */
    width: 99vw;
    

}

.heroImage {
    /* object-fit: cover;
    background-size: cover;
    width:fit-content;
    height: max-content;
    transform: scale(1.3);  */
    /* position: absolute; */
    /* z-index: 0;*/
    
}

.heroContent {
    position: relative;
}

.heroImage1 {
    /* max-width: 100%;
    height: auto; */
    min-width: 100%; /*Image shows with min-width: 100%. Testing...*/
    height: auto;
    transform: scale(1);
}


.heroImage2 {
    /* max-width: 100%;
    height: auto; */
    min-width: 100%; /*Image shows with min-width: 100%. Testing...*/
    height: auto;
    transform: scale(1);
    transform: translateY(-9%); /*-12%*/
    margin: -25px 0px; /*-15px*/
}

/* .gradient {
    z-index: 1;
    background-color: blueviolet;
    height: 100%;
    width: 100%;
    position: absolute;
} */

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.1) 50%,
        rgba(0, 0, 0, 0) 100%,
    );

}

.bannerText {
    background-color: #fff;
    z-index: 1000;
    position: relative;
}

