.main {
  min-height: calc(100vh - 100px); 
  max-width: 1920px; /*Added to limit width*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 6rem; */
  /* min-height: 100vh; */
  /* min-width: 1200px; */
  /* margin-top: 100px; */
  padding-top: 0px; /*used to crop the hero at the top to match the mockup*/
}

.heroCarousel {
  width: 100vw;
  min-height: calc(100vh - 100px); /*Keeps the area intact during loading*/
  /*60px is height of navbar*/
  background-color: aqua;
  border: 2px solid greenyellow;
  position: relative;
  background-image: url(../../public/Logo.svg);
  /* background-size: cover; */
  background-repeat: repeat;
}

/* .modalImage { */
  /* position: absolute; */
  /* height: 100%; */
/* } */

.section2 {
  height: 400px;
  width: 99vw;
  border: 1px solid magenta;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;

}

.learnContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;  
  gap: 20px;
}

.learnTitle {
  font-size: 20px;
  font-weight: 400;
}

.learnText {
  font-size: 12px;
  word-spacing: 1px;
  /* letter-spacing: 0.25px; */
  line-height: 20px;
}

.learnBullet {
  font-size: 12px;
  word-spacing: 1px;
  /* letter-spacing: 0.25px; */
  font-weight: bold;
  line-height: 25px;
  padding-left: 10px;
}

.learnButton {
  cursor: pointer;
    background-color:steelblue;
    color: whitesmoke;
    border: none;
    border-radius: 3px;
    padding: 12px 25px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
    transition-duration: 0.4s;
}

.learnButton:hover {
  scale: 105%;
  background-color: rgb(56, 105, 145);
}

.imgContainer { 
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 100px;
}

.learnImg {
  width: 100%;
  height: auto;
}

.section3 {
  height: 380px;
  width: 100vw;
  border: 1px solid magenta;
  /* background-image: url("https://interview-assessment.api.avamae.co.uk/Images/swiper_image_3.jpg");
  background-size: cover; */
  
}

.panImgWrapper {
  max-width: 100vw;
  height: 380px;
  border: 1px solid lime;
  position: relative;
  background-image: url("https://interview-assessment.api.avamae.co.uk/Images/swiper_image_3.jpg");
  background-size: cover;
  padding-left: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

/* .panoramicImg {
  max-width: 100vw;
  height: 380px;
  object-fit: cover;
  object-position: top;
  position: absolute;
  /* top: 0; */
  /* transform: scale(1); */
/* } */ 

.loginContent {
  position: absolute;
  height: 75%;
  width: 40%;
  z-index: 9 !important;
  background-color: rgb(115, 106, 106);
  color: rgba(255, 255, 255, 0.756);
  border-radius: 3px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.loginTitle {
  font-size: 20px;
  font-weight: 400;
}

.loginText {
  font-size: 11px;
  /* word-spacing: 1px; */
  line-height: 20px;
}

.loginButton {
  cursor: pointer;
  color:steelblue;
  background-color:rgb(227, 233, 244);
    border: none;
    border-radius: 3px;
    padding: 12px 40px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
    transition-duration: 0.4s;
}

.loginButton:hover {
  scale: 105%;
  background-color:rgb(165, 189, 234);

}

.section4{
  height: 500px;
  width: 100vw;
  border: 1px solid magenta;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  gap: 10px;
}

.sec4Title {
  font-size: 20px;
  font-weight: 400;
  /* line-height: 30px; */
}

.sec4Subtitle {
  font-weight: 600;
  font-size: 15px;
  /* line-height: 20px; */

}

.multicol {
  column-count: 3;
  margin-top: 15px;
  column-gap: 25px;
}

.sec4Foretext, .sec4Text {
  font-size: 11px;  
  line-height: 20px;
  margin-bottom: 10px;
}

.sec4Foretext {
  font-weight: 700;
}

.sec4Button {
  cursor: pointer;
    background-color:steelblue;
    color: whitesmoke;
    border: none;
    border-radius: 3px;
    padding: 12px 25px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
    transition-duration: 0.4s;
}

.sec4Button:hover {
  scale: 105%;
  background-color: rgb(56, 105, 145);
}






/*RESPONSIVENESS STYLING */

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
