.main {
  min-height: calc(100vh - 6.25rem); 
  max-width: 1920px; /*Added to limit width*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 0px; /*used to crop the hero at the top to match the mockup*/
}

.heroCarousel {
  width: 100vw;
  /* min-height: calc(100vh - 6.25rem); Keeps the area intact during loading */
  min-height: 70vh;
  background-color: rgba(128, 128, 128, 0.258);
  position: relative;
}

.loadingModal {
  position: absolute;  
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, black, darkgray);
}

.modalImg {
  -webkit-animation: rotation 3s infinite linear;
  -moz-animation: rotation 3s infinite linear;
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.section2 {
  min-height: 25rem;
  width: 99vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.learnContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;  
  gap: 1.25rem;
}

.learnTitle {
  font-size: 1.25rem;
  font-weight: 400;
}

.learnText {
  font-size: 0.75rem;
  word-spacing: 1px;
  /* letter-spacing: 0.1.563rem; */
  line-height: 1.25rem;
}

.learnBullet {
  font-size: 0.75rem;
  word-spacing: 0.063rem;
  font-weight: bold;
  line-height: 1.563rem;
  padding-left: 0.625rem;
}

.learnButton {
  cursor: pointer;
    background-color:steelblue;
    color: whitesmoke;
    border: none;
    border-radius: 0.188rem;
    padding: 0.75rem 1.563rem;
    font-size: 0.75rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    margin: 0.625rem 0;
    transition-duration: 0.4s;
}

.learnButton:hover {
  scale: 105%;
  background-color: rgb(56, 105, 145);
}

.imgContainer { 
  /* margin-top: 80px;
  margin-bottom: 80px; */
  /* margin-left: 6.25rem; */
  display: flex;
  justify-content: flex-end;
  /* height: 80%; */
  width: 50%;

}

.learnImg {
    width: 95%;
    height: auto;
    border-radius: 0.188rem;
}

.section3 {
  height: 28.125rem;
  width: 100vw; 
}

.panImgWrapper {
  max-width: 100vw;
  height: 28.125rem;
  position: relative;
  background-image: url("https://interview-assessment.api.avamae.co.uk/Images/swiper_image_3.jpg");
  background-size: cover;
  padding-left: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.loginContent {
  position: absolute;
  height: 75%;
  width: 40%;
  z-index: 9 !important;
  background-color: rgb(115, 106, 106);
  color: rgba(255, 255, 255, 0.756);
  border-radius: 0.188rem;
  padding: 1.563rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.loginTitle {
  font-size: 1.25rem;
  font-weight: 400;
}

.loginText {
  font-size: 0.688rem;
  line-height: 1.25rem;
}

.loginButton {
  cursor: pointer;
  color:steelblue;
  background-color:rgb(227, 233, 244);
    border: none;
    border-radius: 0.188rem;
    padding: 0.75rem 2.5rem;
    font-size: 0.75rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    margin: 0.625rem 0;
    transition-duration: 0.4s;
}

.loginButton:hover {
  scale: 105%;
  background-color:rgb(165, 189, 234);
}

.section4{
  height: 31.25rem;
  width: 100vw;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
  gap: 0.625rem;
}

.sec4Title {
  font-size: 1.25rem;
  font-weight: 400;
}

.sec4Subtitle {
  font-weight: 600;
  font-size: 0.938rem;
}

.multicol {
  column-count: 3;
  margin-top: 0.938rem;
  column-gap: 1.563rem;
}

.sec4Foretext, .sec4Text {
  font-size: 0.688rem;  
  line-height: 1.25rem;
  margin-bottom: 0.625rem;
}

.sec4Foretext {
  font-weight: 700;
}

.sec4Button {
  cursor: pointer;
    background-color:steelblue;
    color: whitesmoke;
    border: none;
    border-radius: 0.188rem;
    padding: 0.75rem 1.563rem;
    font-size: 0.75rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    margin: 0.625rem 0;
    transition-duration: 0.4s;
}

.sec4Button:hover {
  scale: 105%;
  background-color: rgb(56, 105, 145);
}



/*RESPONSIVENESS STYLING */

/* Mobile */
@media (max-width: 730px) {
  
  .main {
    /* min-height: calc(100vh - 6.25rem); 
    max-width: 1920px; Added to limit width */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px; /*used to crop the hero at the top to match the mockup*/
  }
  
  .heroCarousel {
    width: 100vw;
    min-height: 70vh; /*Loading screen, grey part. Keeps the area intact during loading.*/
    background-color: rgba(128, 128, 128, 0.258);
    position: relative;
  }
  
  .loadingModal {
    /* The actual screen with spinning logo */
    position: absolute;  
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, black, darkgray);
  }
  
  .modalImg {
    -webkit-animation: rotation 3s infinite linear;
    -moz-animation: rotation 3s infinite linear;
    animation: rotation 3s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  .section2 {
    height: auto;
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
  
  .learnContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;  
    gap: 1.25rem;
  }
  
  .learnTitle {
    font-size: 1.25rem;
    font-weight: 400;
  }
  
  .learnText {
    font-size: 0.75rem;
    word-spacing: 1px;
    /* letter-spacing: 0.1.563rem; */
    line-height: 1.25rem;
  }
  
  .learnBullet {
    font-size: 0.75rem;
    word-spacing: 0.063rem;
    font-weight: bold;
    line-height: 1.563rem;
    padding-left: 0.625rem;
  }
  
  .learnButton {
    cursor: pointer;
      background-color:steelblue;
      color: whitesmoke;
      border: none;
      border-radius: 0.188rem;
      padding: 0.75rem 1.563rem;
      font-size: 0.75rem;
      font-weight: 700;
      /* display: flex;
      justify-content: center; */
      gap: 1.25rem;
      margin: 0.625rem 0;
      transition-duration: 0.4s;
      width: 100%;
      display: block;
  }
  
  .learnButton:hover {
    scale: 105%;
    background-color: rgb(56, 105, 145);
  }

  .learnLink {
    width: 100%;
  }
  
  .imgContainer { 
    /* margin-top: 80px;
    margin-bottom: 80px; */
    /* margin-left: 6.25rem; */
    display: flex;
    justify-content: center;
    /* height: 80%; */
    width: 100%;
    order: -1; /*Makes the image preferentially appear first at smaller viewport dimensions*/
    margin-bottom: 5%;
  
  }
  
  .learnImg {
    width: 100%;
    height: auto;
    border-radius: 0.188rem;
  }
  
  .section3 {
    height: 25rem;
    width: 100vw; 
  }
  
  .panImgWrapper {
    max-width: 100vw;
    height: 23.75rem;
    position: relative;
    background-image: url("https://interview-assessment.api.avamae.co.uk/Images/swiper_image_3.jpg");
    background-size: cover;
    /* padding-left: 10%; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .loginContent {
    position: absolute;
    height: 90%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9 !important;
    background-color: rgba(70, 65, 65, 0.728);
    color: rgba(255, 255, 255, 0.756);
    border-radius: 0.188rem;
    padding: 1.563rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .loginTitle {
    font-size: 1.25rem;
    font-weight: 400;
  }
  
  .loginText {
    font-size: 0.688rem;
    line-height: 1.25rem;
  }
  
  .loginButton {
    cursor: pointer;
    color:steelblue;
    background-color:rgb(227, 233, 244);
      border: none;
      border-radius: 0.188rem;
      padding: 0.75rem 2.5rem;
      font-size: 0.75rem;
      font-weight: 700;
      display: flex;
      justify-content: center;
      gap: 1.25rem;
      margin: 0.625rem 0;
      transition-duration: 0.4s;
      width: 100%;
  }
  
  .loginButton:hover {
    scale: 105%;
    background-color:rgb(165, 189, 234);
  }
  
  .section4{
    height: auto;
    width: 100vw;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
    gap: 0.625rem;
  }
  
  .sec4Title {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
  }
  
  .sec4Subtitle {
    font-weight: 600;
    font-size: 0.938rem;
    text-align: center;
  }
  
  .multicol {
    column-count: 1;
    margin-top: 0.938rem;
  }
  
  .sec4Foretext, .sec4Text {
    font-size: 0.688rem;  
    line-height: 1.25rem;
    margin-bottom: 0.625rem;
  }
  
  .sec4Foretext {
    font-weight: 700;
  }
  
  .sec4Button {
    cursor: pointer;
      background-color:steelblue;
      color: whitesmoke;
      border: none;
      border-radius: 0.188rem;
      padding: 0.75rem 1.563rem;
      font-size: 0.75rem;
      font-weight: 700;
      display: flex;
      justify-content: center;
      gap: 1.25rem;
      margin-top: 0.625rem;
      margin-bottom: 2.5rem;
      transition-duration: 0.4s;
      display: block;
      width: 100%;
  }
  
  .sec4Button:hover {
    scale: 105%;
    background-color: rgb(56, 105, 145);
  }
  
}

/* Tablet and Smaller Desktops */

@media (min-width: 731px) and (max-width: 111.25rem) {
  .main {
    min-height: calc(100vh - 6.25rem); 
    max-width: 1920px; /*Added to limit width*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px; /*used to crop the hero at the top to match the mockup*/
  }
  
  .heroCarousel {
    width: 100vw;
    min-height: calc(100vh - 6.25rem); /*Keeps the area intact during loading*/
    background-color: rgba(128, 128, 128, 0.258);
    position: relative;
  }
  
  .loadingModal {
    position: absolute;  
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, black, darkgray);
  }
  
  .modalImg {
    -webkit-animation: rotation 3s infinite linear;
    -moz-animation: rotation 3s infinite linear;
    animation: rotation 3s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  .section2 {
    min-height: 25rem;
    width: 99vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
  
  .learnContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;  
    gap: 1.25rem;
  }
  
  .learnTitle {
    font-size: 1.25rem;
    font-weight: 400;
  }
  
  .learnText {
    font-size: 0.75rem;
    word-spacing: 1px;
    line-height: 1.25rem;
  }
  
  .learnBullet {
    font-size: 0.75rem;
    word-spacing: 0.063rem;
    font-weight: bold;
    line-height: 1.563rem;
    padding-left: 0.625rem;
  }
  
  .learnButton {
    cursor: pointer;
      background-color:steelblue;
      color: whitesmoke;
      border: none;
      border-radius: 0.188rem;
      padding: 0.75rem 1.563rem;
      font-size: 0.75rem;
      font-weight: 700;
      display: flex;
      justify-content: center;
      gap: 1.25rem;
      margin: 0.625rem 0;
      transition-duration: 0.4s;
  }
  
  .learnButton:hover {
    scale: 105%;
    background-color: rgb(56, 105, 145);
  }
  
  .imgContainer {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  
  }
  
  .learnImg {
    width: 95%;
    height: auto;
    border-radius: 0.188rem;
  }
  
  .section3 {
    height: 28.125rem;
    width: 100vw; 
  }
  
  .panImgWrapper {
    max-width: 100vw;
    height: 28.125rem;
    position: relative;
    background-image: url("https://interview-assessment.api.avamae.co.uk/Images/swiper_image_3.jpg");
    background-size: cover;
    padding-left: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .loginContent {
    position: absolute;
    height: 80%;
    width: 40%;
    z-index: 9 !important;
    background-color: rgb(115, 106, 106);
    color: rgba(255, 255, 255, 0.756);
    border-radius: 0.188rem;
    padding: 1.563rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .loginTitle {
    font-size: 1.25rem;
    font-weight: 400;
  }
  
  .loginText {
    font-size: 0.688rem;
    line-height: 1.25rem;
  }
  
  .loginButton {
    cursor: pointer;
    color:steelblue;
    background-color:rgb(227, 233, 244);
      border: none;
      border-radius: 0.188rem;
      padding: 0.75rem 2.5rem;
      font-size: 0.75rem;
      font-weight: 700;
      display: flex;
      justify-content: center;
      gap: 1.25rem;
      margin: 0.625rem 0;
      transition-duration: 0.4s;
  }
  
  .loginButton:hover {
    scale: 105%;
    background-color:rgb(165, 189, 234);
  }
  
  .section4{
    height: 31.25rem;
    width: 100vw;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
    gap: 0.625rem;
  }
  
  .sec4Title {
    font-size: 1.25rem;
    font-weight: 400;
  }
  
  .sec4Subtitle {
    font-weight: 600;
    font-size: 0.938rem;
  }
  
  .multicol {
    column-count: 3;
    margin-top: 0.938rem;
    column-gap: 1.563rem;
  }
  
  .sec4Foretext, .sec4Text {
    font-size: 0.688rem;  
    line-height: 1.25rem;
    margin-bottom: 0.625rem;
  }
  
  .sec4Foretext {
    font-weight: 700;
  }
  
  .sec4Button {
    cursor: pointer;
      background-color:steelblue;
      color: whitesmoke;
      border: none;
      border-radius: 0.188rem;
      padding: 0.75rem 1.563rem;
      font-size: 0.75rem;
      font-weight: 700;
      display: flex;
      justify-content: center;
      gap: 1.25rem;
      margin: 0.625rem 0;
      transition-duration: 0.4s;
  }
  
  .sec4Button:hover {
    scale: 105%;
    background-color: rgb(56, 105, 145);
  }
}

