.container {
    display: flex;
    justify-content: space-between;
    margin: 0px 6.25rem;

}

.textContainer {
    margin-top: 6.25rem;
    line-height: 3.125rem;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form {
    margin-top: 6.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.inputField {
    padding: 0.625rem;
    border: 0.094rem solid rgba(211, 211, 211, 0.5);
    border-radius: 0.188rem;
    background-color: rgba(176, 196, 222, 0.16);
}

.button {
    width: 100%;
    padding: 0.625rem;
    cursor: pointer;
    background-color:steelblue;
    color: whitesmoke;
    border: none;
    border-radius: 0.188rem;
    padding: 0.75rem 2.188rem;
    font-size: 0.75rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    margin: 1.25rem 0;
    position: relative;
    transition-duration: 0.4s;
}

.button:hover {
    scale: 105%;
    background-color: rgb(56, 105, 145);
}